div h2{	

	width:100%;
	background:#0066CC;
	font-family:arial;
	font-size:70px;
}

h1{	 
	margin:0px;
	background:#87CEFF;
	font-family:arial;
	font-size:45px;
	position:left-side;
}


.boton1{	
	margin-left:10px;
	margin-top:10px;

}

.boton2{
	margin-left:10px;
	margin-top:10px;

}

.boton3{
	margin-left:10px;
	margin-top:10px;

}

.boton4{
	margin-left:10px;
	margin-top:10px;

}